@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: "Outfit", sans-serif;
}

:root {
  --border-radius-medium: 14px;
  --font-size-26: 26px;
  --font-size-32: 24px;
  --font-size-38: 30px;
  --font-size-62: 52px;
  --font-size-70: 70px;
  --font-size-83: 83px;
  --font-size-42: 32px;
  --font-size-50: 40px;
  --font-size-52: 42px;
  --font-size-55: 45px;
  --font-size-58: 48px;
  --font-size-69: 55px;
  --font-size-71: 60px;
  --off-white: #d2d7e4;
}

/* VAR */
.element-medium {
  border-radius: var(--border-radius-medium);
}

.fontSize26px {
  font-size: var(--font-size-26);
}

.fontSize32px {
  font-size: var(--font-size-32);
}

.fontSize38px {
  font-size: var(--font-size-38);
}

.fontSize42px {
  font-size: var(--font-size-42);
}

.fontSize52px {
  font-size: var(--font-size-52);
}

.fontSize58px {
  font-size: var(--font-size-58);
}

.fontSize62px {
  font-size: var(--font-size-62);
}

.fontSize70px {
  font-size: var(--font-size-70);
}

.fontSize83px {
  font-size: var(--font-size-83);
}

.fontSize69px {
  font-size: var(--font-size-69);
}

.fontSize42px {
  font-size: var(--font-size-42);
}

.fontSize50px {
  font-size: var(--font-size-50);
}

.fontSize52px {
  font-size: var(--font-size-52);
}

.fontSize55px {
  font-size: var(--font-size-55);
}

.fontSize32px {
  font-size: var(--font-size-32);
}

.fontSize71px {
  font-size: var(--font-size-71);
}

.offwhite {
  color: var(--off-white);
}
/* VAR END */

.screen {
  max-width: 1350px;
}

.nav_ul a:active {
  color: #09f;
}

.nav_ul a:hover {
  color: #09f;
}

/****** SECTIONS ******/
.sec_1 {
  background: url("Assets/AO-JV-bg-Sec-01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec_2 {
  background: url("Assets/Section2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec_3 {
  background: url("Assets/AO-JV-bg-Sec-03.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec_4 {
  background: url("Assets/AO-JV-bg-Sec-04.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec_5 {
  background: url("Assets/Section5.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec_6 {
  background: url("Assets/AO-JV-bg-Sec-06.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec_7 {
  background: url("Assets/AO-JV-bg-Sec-07.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec_8 {
  background: url("Assets/AO-JV-bg-Sec-09.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec_9 {
  background: url("Assets/AO-JV-bg-Sec-10.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec_10 {
  background: url("Assets/AO-JV-bg-Sec-08.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec-12-min {
  background: url("Assets/sec_12-min-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec-18 {
  background: url("Assets/Section18.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video {
  background: url("Assets/Video.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 26px;
}

.video2 {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video2 iframe {
  width: 80%;
  aspect-ratio: 16 / 9;
  /* opacity: 0; */
}

.circle {
  background: url("Assets/circle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 26px;
}

/****** GRADIENTS ******/
.grad {
  background: linear-gradient(270deg, #bb1bff 23.04%, #09f 100%);
}

.grad-2 {
  background: linear-gradient(270deg, #ffaa9d 17.6%, #ffc698 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad-3 {
  background: linear-gradient(270deg, #0cf 17.6%, #b300ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 92px;
}

.grad-4 {
  background: linear-gradient(270deg, #0cf 17.6%, #b300ff 100%);
}

.grad-5 {
  background: linear-gradient(
    180deg,
    rgba(0, 153, 255, 0.07) 0%,
    rgba(255, 150, 26, 0.07) 100%
  );
}

.grad-6 {
  background: linear-gradient(180deg, #66ffe5 27.3%, #8093ff 142.41%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 92px;
}

.grad-7 {
  background: linear-gradient(246deg, #b464d8 -0.02%, #ec609e 99.98%);
}

.grad-7_text {
  background: linear-gradient(246deg, #b464d8 -0.02%, #ec609e 99.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad-8 {
  background: linear-gradient(62deg, #a442ff 0.03%, #3fbbfe 100.03%);
}

.grad-8_text {
  background: linear-gradient(62deg, #a442ff 0.03%, #3fbbfe 100.03%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad-9 {
  background: linear-gradient(246deg, #b288ff -0.02%, #6b15d1 99.98%);
}

.grad-9_text {
  background: linear-gradient(246deg, #b288ff -0.02%, #6b15d1 99.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad-10 {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #667dff 42.37495422363281deg,
    #3bf 160.87486267089844deg
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bang {
  color: #d2d7e4;
  background: rgba(0, 204, 255, 0.1);
  border-radius: 14px;
  font-size: 20px;
}

/* RESPONSIVE SCREENS */
@media only screen and (max-width: 916px) {
  .nav_ul li {
    display: none;
  }

  .grad {
    padding: 14px;
  }
}

@media only screen and (max-width: 722px) {
  .head_text {
    font-size: 38px;
    line-height: 45px;
  }

  .head-text2 {
    font-size: 42px;
  }

  .fontSize26px {
    font-size: 20px;
  }

  .bang {
    font-size: 16px;
  }
}
